    .titulo-aula{
        color: #ddd;
    }

    #titulo{
        color: #6e6d6d
    }

    h5{
        text-decoration: underline;
        color: #6e6d6d;
    }

    html{
        background-color: #beb9b9;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        
    }

    article {
        display: block;
        background: #ddd;
        color: #6e6d6d;
        border-radius: 5%;
        border: 3px solid;
        padding: 3px;
        align-items: center;
    }

    img {
        display: block;
        border-radius: 100%;
        border: #6e6d6d 14px solid;
        padding: 5px;

    }